<ul>
        <li ng-repeat="pretty in pretties">
		<span ng-show="pretty.show_prop">{{pretty.property}}: </span>
		<span ng-switch on="pretty.type">
			<span ng-switch-when="img"> <img src="{{pretty.value}}"/> </span>
			<span ng-switch-when="uri"> <a href="{{pretty.value}}">{{pretty.value}}</a></span>
			<span ng-switch-when="text"> {{pretty.value}} </span>
			<span ng-switch-default> {{pretty.value}} </span>
		</span>
	</li>
</ul>

<ul>
	<li ng-repeat="(id, predicate) in predicates">
		<span ng-show="predicate.reverse">is </span>
		<a href="{{predicate.url}}">
			{{predicate.label}}
		</a>
		<span ng-show="predicate.reverse"> of</span>:
		<ul>
			<li ng-repeat="val in predicate.values">
				<span ng-switch on="val.type">
					<span ng-switch-when="uri"> <a href="{{val.url}}">{{val.label}}</a> </span>
					<span ng-switch-default>{{val.label}}</span>
				</span>

			</li>
			<li ng-hide="predicate.complete">
				<button ng-click="showMore(id)">Show More</button>
			</li>
		</ul>
	</li>
</ul>
